#hero-cantainer{
  width: 100%;
  height: 832px;
  background-image: url();
  background-color: #181818;
  clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
}

#second-hero{
  width: 100%;
  height: 832px;
}